In [74]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv('Batsman_Data.csv - Batsman_Data.csv.csv')

In [5]:
df2 = pd.read_csv('Bowler_data.csv - Bowler_data.csv.csv')

In [6]:
df3 = pd.read_csv('Ground_Averages.csv - Ground_Averages.csv.csv')

In [7]:
df4 = pd.read_csv('ODI_Match_Results.csv - ODI_Match_Results.csv.csv')

In [8]:
df5 = pd.read_csv('ODI_Match_Totals.csv - ODI_Match_Totals.csv.csv')

In [9]:
df6 = pd.read_csv('WC_players.csv - WC_players.csv.csv')

In [10]:
df1.head()

   Unnamed: 0 Bat1 Runs BF  ... Start Date    Match_ID        Batsman Player_ID
0           1  DNB    -  -  ...  18-Dec-09  ODI # 2933  Oshane Thomas     49619
1           2  DNB    -  -  ...  24-Dec-09  ODI # 2935  Oshane Thomas     49619
2           3  DNB    -  -  ...  27-Dec-09  ODI # 2936  Oshane Thomas     49619
3           4  DNB    -  -  ...  04-Jan-10  ODI # 2937  Oshane Thomas     49619
4           5  DNB    -  -  ...  05-Jan-10  ODI # 2938  Oshane Thomas     49619

[5 rows x 13 columns]

In [11]:
df2.head()

   Unnamed: 0 Overs Mdns  ...    Match_ID          Bowler Player_ID
0           1     8    0  ...  ODI # 2933  Suranga Lakmal     49619
1           2    10    0  ...  ODI # 2935  Suranga Lakmal     49619
2           3     -    -  ...  ODI # 2936  Suranga Lakmal     49619
3           4     9    1  ...  ODI # 2937  Suranga Lakmal     49619
4           5     8    1  ...  ODI # 2938  Suranga Lakmal     49619

[5 rows x 14 columns]

In [12]:
df3.head()

                                              Ground       Span  ...    Ave   RPO
0                      Eden Gardens, Kolkata - India  2013-2017  ...  30.01  5.64
1                    Feroz Shah Kotla, Delhi - India  2013-2019  ...  23.85  4.60
2               Melbourne Cricket Ground - Australia  2013-2019  ...  35.28  5.41
3  Saurashtra Cricket Association Stadium, Rajkot...  2013-2015  ...  44.73  5.81
4                          Adelaide Oval - Australia  2013-2019  ...  30.97  5.16

[5 rows x 11 columns]

In [13]:
df4.head()

   Unnamed: 0 Result    Margin  ...    Match_ID   Country Country_ID
0         418    won   85 runs  ...  ODI # 3315  Pakistan          7
1         692   lost   85 runs  ...  ODI # 3315     India          6
2         419   lost   10 runs  ...  ODI # 3316  Pakistan          7
3         693    won   10 runs  ...  ODI # 3316     India          6
4         121   lost  107 runs  ...  ODI # 3317  SriLanka          8

[5 rows x 12 columns]

In [14]:
df5.head()

   Unnamed: 0 Score  Overs   RPO  ...   Start Date    Match_ID   Country Country_ID
0         412   250   48.3  5.15  ...   3 Jan 2013  ODI # 3315  Pakistan          7
1         680   165   48.0  3.43  ...   3 Jan 2013  ODI # 3315     India          6
2         413   157   48.5  3.21  ...   6 Jan 2013  ODI # 3316  Pakistan          7
3         681   167   43.4  3.82  ...   6 Jan 2013  ODI # 3316     India          6
4         117   198   40.0  4.95  ...  11 Jan 2013  ODI # 3317  SriLanka          8

[5 rows x 13 columns]

In [15]:
df6.head()

              Player      ID      Country
0  Gulbadin Naib (c)  352048  Afghanistan
1   Rashid Khan (vc)  793463  Afghanistan
2         Aftab Alam  440963  Afghanistan
3      Asghar Afghan  320652  Afghanistan
4      Dawlat Zadran  516561  Afghanistan

In [20]:
df1.isnull().sum()

Unnamed: 0    0
Bat1          0
Runs          0
BF            0
SR            0
4s            0
6s            0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Batsman       0
Player_ID     0
dtype: int64

In [21]:
df2.isnull().sum()

Unnamed: 0    0
Overs         0
Mdns          0
Runs          0
Wkts          0
Econ          0
Ave           0
SR            0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Bowler        0
Player_ID     0
dtype: int64

In [22]:
df3.isnull().sum()

Ground    0
Span      0
Mat       0
Won       0
Tied      0
NR        0
Runs      0
Wkts      0
Balls     0
Ave       0
RPO       0
dtype: int64

In [23]:
df4.isnull().sum()

Unnamed: 0      0
Result          0
Margin          0
BR            716
Toss            0
Bat             0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

In [24]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1322 non-null   int64
 1   Result      1322 non-null   object
 2   Margin      1322 non-null   object
 3   BR          606 non-null    float64
 4   Toss        1322 non-null   object
 5   Bat         1322 non-null   object
 6   Opposition  1322 non-null   object
 7   Ground      1322 non-null   object
 8   Start Date  1322 non-null   object
 9   Match_ID    1322 non-null   object
 10  Country     1322 non-null   object
 11  Country_ID  1322 non-null   int64
dtypes: float64(1), int64(2), object(9)
memory usage: 124.1+ KB

In [25]:
pd.concat([df6, df1], axis=0)

                  Player        ID  ...        Batsman  Player_ID
0      Gulbadin Naib (c)  352048.0  ...            NaN        NaN
1       Rashid Khan (vc)  793463.0  ...            NaN        NaN
2             Aftab Alam  440963.0  ...            NaN        NaN
3          Asghar Afghan  320652.0  ...            NaN        NaN
4          Dawlat Zadran  516561.0  ...            NaN        NaN
...                  ...       ...  ...            ...        ...
11144                NaN       NaN  ...  Gulbadin Naib   352048.0
11145                NaN       NaN  ...  Gulbadin Naib   352048.0
11146                NaN       NaN  ...  Gulbadin Naib   352048.0
11147                NaN       NaN  ...  Gulbadin Naib   352048.0
11148                NaN       NaN  ...  Gulbadin Naib   352048.0

[11301 rows x 16 columns]

Demonstrate the data handling concept by combining the columns from
any two of the given files.

In [28]:
merged_inner = pd.merge(left=df6, right=df1, left_on='ID', right_on='Player_ID')
merged_inner.head(20)

               Player      ID  ...        Batsman  Player_ID
0   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
1   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
2   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
3   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
4   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
5   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
6   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
7   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
8   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
9   Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
10  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
11  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
12  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
13  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
14  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
15  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
16  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
17  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
18  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048
19  Gulbadin Naib (c)  352048  ...  Gulbadin Naib     352048

[20 rows x 16 columns]

In [30]:
df4.isnull().sum()

Unnamed: 0      0
Result          0
Margin          0
BR            716
Toss            0
Bat             0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

Droppping Rows having null values ( Though it will result in loss of data it is just for demonstration purpose)

In [31]:
df4_droprows = df4.dropna(axis=0)

In [34]:
df4_droprows.isnull().sum()

Unnamed: 0    0
Result        0
Margin        0
BR            0
Toss          0
Bat           0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Country       0
Country_ID    0
dtype: int64

In [36]:
df4.BR.value_counts().mean()

4.328571428571428

In [39]:
df4.BR.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: BR, dtype: float64

Imputing Median Values in the place of Null Values in BR column

In [41]:
df4_imputedmedian = df4.fillna(df4.BR.median())

In [42]:
df4_imputedmedian.head()

   Unnamed: 0 Result    Margin  ...    Match_ID   Country Country_ID
0         418    won   85 runs  ...  ODI # 3315  Pakistan          7
1         692   lost   85 runs  ...  ODI # 3315     India          6
2         419   lost   10 runs  ...  ODI # 3316  Pakistan          7
3         693    won   10 runs  ...  ODI # 3316     India          6
4         121   lost  107 runs  ...  ODI # 3317  SriLanka          8

[5 rows x 12 columns]

In [43]:
df3.columns

Index(['Ground', 'Span', 'Mat', 'Won', 'Tied', 'NR', 'Runs', 'Wkts', 'Balls',
       'Ave', 'RPO'],
      dtype='object')

Creating a New column in the Grounds database where we can know how many runs are scored per wicket

In [48]:
df3['Runs Per Wicket'] = round(df3['Runs']/df3['Wkts'],2)

In [49]:
df3.head()

                                              Ground  ... Runs Per Wicket
0                      Eden Gardens, Kolkata - India  ...           30.01
1                    Feroz Shah Kotla, Delhi - India  ...           23.85
2               Melbourne Cricket Ground - Australia  ...           35.28
3  Saurashtra Cricket Association Stadium, Rajkot...  ...           44.73
4                          Adelaide Oval - Australia  ...           30.97

[5 rows x 12 columns]

Dropping columns from different tables in the dataset

In [ ]:
df3 = df3.drop(columns='NR',axis=1)

In [53]:
df3.columns

Index(['Ground', 'Span', 'Mat', 'Won', 'Tied', 'Runs', 'Wkts', 'Balls', 'Ave',
       'RPO', 'Runs Per Wicket'],
      dtype='object')

In [66]:
df4.columns

Index(['Unnamed: 0', 'Result', 'Margin', 'BR', 'Toss', 'Bat', 'Opposition',
       'Ground', 'Start Date', 'Match_ID', 'Country', 'Country_ID'],
      dtype='object')

In [70]:
df4 = df4.drop('Country',axis=1)

In [71]:
df4.columns

Index(['Unnamed: 0', 'Result', 'Margin', 'BR', 'Toss', 'Bat', 'Opposition',
       'Ground', 'Start Date', 'Match_ID', 'Country_ID'],
      dtype='object')

Batsman Analysis

In [73]:

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11149 entries, 0 to 11148
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11149 non-null  int64
 1   Bat1        11149 non-null  object
 2   Runs        11149 non-null  object
 3   BF          11149 non-null  object
 4   SR          11149 non-null  object
 5   4s          11149 non-null  object
 6   6s          11149 non-null  object
 7   Opposition  11149 non-null  object
 8   Ground      11149 non-null  object
 9   Start Date  11149 non-null  object
 10  Match_ID    11149 non-null  object
 11  Batsman     11149 non-null  object
 12  Player_ID   11149 non-null  int64
dtypes: int64(2), object(11)
memory usage: 1.1+ MB