In [1]:
import pandas as pd

students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], "grade" : [91, 95, 82, 75, 93]}

students_df = pd.DataFrame(students)

In [2]:
students_df

              name  age favorite_color  grade
0         Tim Voss   19            red     91
1   Nicole Johnson   20         yellow     95
2    Elsa Williams   21          green     82
3       John James   20           blue     75
4  Catherine Jones   23          green     93

In [91]:
def grades_colors(students_df):
    df= students_df[(students_df['grade']>90) & (students_df['favorite_color'].isin(['red','green']))]
    return df

In [92]:
grades_colors(students_df)

              name  age favorite_color  grade
0         Tim Voss   19            red     91
4  Catherine Jones   23          green     93

In [40]:
mask=(students_df['favorite_color'].isin(['red','green']) & students_df['grade']>60).all()

In [41]:
students_df[mask]

KeyError: False

In [46]:
(students_df['favorite_color'].isin(['red','green']))

0     True
1    False
2     True
3    False
4     True
Name: favorite_color, dtype: bool

In [47]:
(df1['grade']>90)

NameError: name 'df1' is not defined

In [58]:
df1= students_df['favorite_color'].isin(['red','green'])
df=students_df[df1]
df

              name  age favorite_color  grade
0         Tim Voss   19            red     91
2    Elsa Williams   21          green     82
4  Catherine Jones   23          green     93

In [62]:
df2= df['grade']>=90
df=df[df2]
df

              name  age favorite_color  grade
0         Tim Voss   19            red     91
4  Catherine Jones   23          green     93

In [88]:
students_df[(students_df['grade']>90) & (students_df['favorite_color'].isin(['red','green']))]

              name  age favorite_color  grade
0         Tim Voss   19            red     91
4  Catherine Jones   23          green     93