In [4]:
import sqlite3
def DB_Create():
  # connecting to the database
  connection = sqlite3.connect("Demo_DataBase.db")

  # cursor
  crsr = connection.cursor()

  # print statement will execute if there are no errors
  print("Connected to the database")

  # close the connection
  connection.close()
    
DB_Create()

Connected to the database

In [5]:
def Create_Table():
  # connecting to the database
  connection = sqlite3.connect("Demo_DataBase.db")

  # cursor
  crsr = connection.cursor()
  # SQL command to create a table in the database DDL

  sql_command = """CREATE TABLE emp (
  staff_number INTEGER PRIMARY KEY,
  fname VARCHAR(20),
  lname VARCHAR(30));"""

  # execute the statement
  crsr.execute(sql_command)

  # close the connection
  connection.close()
    
Create_Table()

OperationalError: table emp already exists

In [2]:
def Insert_Data():
  # connecting to the database
  connection = sqlite3.connect("Demo_DataBase.db")

  # cursor
  crsr = connection.cursor()

  # SQL command to insert the data in the table
  sql_command = """INSERT INTO emp VALUES (23, "Rishabh","Bansal");"""
  crsr.execute(sql_command)

  # another SQL command to insert the data in the table
  sql_command = """INSERT INTO emp VALUES (1, "Bill", "Gates");"""
  crsr.execute(sql_command)

  # To save the changes in the files. Never skip this.
  # another SQL command to insert the data in the table
  sql_command = """INSERT INTO emp VALUES (3, "Jeff", "Bezoz");"""
  crsr.execute(sql_command)

  # To save the changes in the files. Never skip this.
  # If we skip this, nothing will be saved in the database.
  connection.commit()

  # close the connection
  connection.close()

Insert_Data()

NameError: name 'sqlite3' is not defined

In [3]:
def Update_Data():
  # Connecting to sqlite
  conn = sqlite3.connect('Demo_DataBase.db')

  # Creating a cursor object using
  # the cursor() method
  cursor = conn.cursor()

  # Updating
  cursor.execute('''UPDATE emp SET lname = "Jyoti" WHERE fname="Rishabh";''')

  # Commit your changes in the database
  conn.commit()

  # Closing the connection
  conn.close()

Update_Data()

NameError: name 'sqlite3' is not defined

In [24]:
def Delete_Data():
  # Connecting to sqlite
  conn = sqlite3.connect('Demo_DataBase.db')

  # Creating a cursor object using
  # the cursor() method
  cursor = conn.cursor()

  # Updating
  cursor.execute('''DELETE FROM emp WHERE fname="Rishabh";''')

  # Commit your changes in the database
  conn.commit()

  # Closing the connection
  conn.close()

Delete_Data()

In [30]:
def Display_Data():
  # connect withe the myTable database
  connection = sqlite3.connect("Demo_DataBase.db")

  # cursor object
  crsr = connection.cursor()

  # execute the command to fetch all the data from the table emp
  crsr.execute("SELECT * FROM emp")
 # store all the fetched data in the ans variable
  ans = crsr.fetchall()

  # Since we have already selected all the data entries
  # using the "SELECT *" SQL command and stored them in
  # the ans variable, all we need to do now is to print
  # out the ans variable
  for i in ans:
    print(i)

In [31]:
Display_Data()

(1, 'Bill', 'Gates')
(3, 'Jeff', 'Bezoz')
(23, 'Rishabh', 'Jyoti')