In [1]:
import sqlite3

def connect():    
    # connecting to the database
    connection = sqlite3.connect("Student.db")
    
    # cursor
    crsr = connection.cursor()

    # print statement will execute if there are no errors
    print("Connected to the Student database")
    
    connection.close()
    
connect()

Connected to the Student database

In [2]:
def createtable():
    # connecting to the database
    connection = sqlite3.connect("Student.db")
    
    # cursor
    crsr = connection.cursor()
  
    com1= """CREATE TABLE CLASS2
    (SNAME VARCHAR(15),
    REGNUM CHAR(6) PRIMARY KEY,
    GENDER VARCHAR(15) CHECK (GENDER IN('MALE','FEMALE','TRANSGENDER')) NOT NULL,
    PROGRAM VARCHAR(12) NOT NULL,
    SUB1 NUMBER(3) NOT NULL CHECK (SUB1<200),
    SUB2 NUMBER(3) NOT NULL CHECK (SUB2<200),
    SUB3 NUMBER(3) NOT NULL CHECK (SUB3<200), 
    CL_TEACHER VARCHAR(15) NOT NULL,
    FAV_SUB VARCHAR(15) NOT NULL);"""
    
    crsr.execute(com1) 
    
    # close the connection
    connection.close()
    
    
createtable()

In [3]:
def Insert():
    # connecting to the database
    connection = sqlite3.connect("Student.db")
    
    #cursor
    crsr = connection.cursor()
    
    try:
    
        # SQL command to insert the data in the table
        com1 = """INSERT INTO CLASS2 VALUES('RIYA','214804','FEMALE','MDS', 154,123,180,'SEENA','INFERENCE');"""
        crsr.execute(com1)
    
        com2 ="""INSERT INTO CLASS2 VALUES('PARESH','214805','MALE','MCA', 87,113,145,'RAM','PYTHON');"""
        crsr.execute(com2)
    
        com3 = """INSERT INTO CLASS2 VALUES('NYRA','214806','TRANSGENDER','MSTAT', 152,91,190,'MEERA','CALCULUS');"""
        crsr.execute(com3)

        com4="""INSERT INTO CLASS2 VALUES('MAHIMA','214807','FEMALE','MDS', 122,170,155,'SEENA','PROGRAMMING');"""
        crsr.execute(com4)
    
        com5="""INSERT INTO CLASS2 VALUES('GAURAV','214808','MALE','MCA', 31,112,133,'RAM','C++');"""
        crsr.execute(com5)
        
        connection.commit()
        connection.close()
    
    except:
        print("Error")
        connection.close()
        
        

 
Insert()

In [4]:
def Total():
    
    # connecting to the database
    connection = sqlite3.connect("Student.db")
    
    #cursor
    crsr = connection.cursor()
    
    com1 = """ALTER TABLE CLASS2 ADD TOTAL NUMBER(3);"""
    crsr.execute(com1)
        
    com2 = """UPDATE CLASS2 SET TOTAL=SUB1+SUB2+SUB3;"""
    crsr.execute(com2) 
    
    connection.commit()
    connection.close()

In [5]:
Total()

In [9]:
def display_main():
    conn = sqlite3.connect('Student.db')

    ans = conn.execute("SELECT * FROM CLASS2;")
  
    for r in ans:
        print(r,'\n')

    conn.close()
display_main()

('RIYA', '214804', 'FEMALE', 'MDS', 154, 123, 180, 'SEENA', 'INFERENCE', 457)

('PARESH', '214805', 'MALE', 'MCA', 87, 113, 145, 'RAM', 'PYTHON', 345)

('NYRA', '214806', 'TRANSGENDER', 'MSTAT', 152, 91, 190, 'MEERA', 'CALCULUS', 433)

('MAHIMA', '214807', 'FEMALE', 'MDS', 122, 170, 155, 'SEENA', 'PROGRAMMING', 447)

('GAURAV', '214808', 'MALE', 'MCA', 31, 112, 133, 'RAM', 'C++', 276)

In [27]:
def tot400():
    
    # connecting to the database
    connection = sqlite3.connect("Student.db")
    
    #cursor
    crsr = connection.cursor()
    
    
    com=""" SELECT * FROM CLASS2 WHERE TOTAL>400 and GENDER LIKE 'FEMALE' ;"""
    
    print("\nThe following females have marks >400 \n ")
    
    ans=crsr.execute(com)
    
    for r in ans:
        print(r,'\n')

In [28]:
tot400()

The following females have marks >400

('RIYA', '214804', 'FEMALE', 'MDS', 154, 123, 180, 'SEENA', 'INFERENCE', 457)

('MAHIMA', '214807', 'FEMALE', 'MDS', 122, 170, 155, 'SEENA', 'PROGRAMMING', 447)

In [32]:
def subjectin():
    
    # connecting to the database
    connection = sqlite3.connect("Student.db")
    
    #cursor
    crsr = connection.cursor()
    
    
    com=""" SELECT SNAME,FAV_SUB FROM CLASS2 WHERE FAV_SUB LIKE '%in%' ;"""
    
    print("\nThe following people have faourite subjects containing 'in' \n ")
    
    ans=crsr.execute(com)
    
    for r in ans:
        print(r,'\n')

In [33]:
subjectin()

The following people have faourite subjects containing 'in'

('RIYA', 'INFERENCE')

('MAHIMA', 'PROGRAMMING')

In [50]:
def GROUPBY():
    
    # connecting to the database
    connection = sqlite3.connect("Student.db")
    
    #cursor
    crsr = connection.cursor()
    
    
    com4="""select sum(total),program from class2 group by program having sum(total)>700;"""
 
    print("\nThe following subjects have a total marks by all students > 700 'in' \n ")
    
    ans=crsr.execute(com4)
    
    for r in ans:
        print(r,'\n')

In [51]:
GROUPBY()

The following subjects have a total marks by all students > 700 'in'

(904, 'MDS')

In [54]:
def desc():
    
    # connecting to the database
    connection = sqlite3.connect("Student.db")
    
    #cursor
    crsr = connection.cursor()
    
    
    com4="""Select * from class2 Order by Total Desc;"""
 
    print("\n Ordered by Total marks : 'in' \n ")
    
    ans=crsr.execute(com4)
    
    for r in ans:
        print(r,'\n')

In [55]:
desc()

 Ordered by Total marks : 'in'

('RIYA', '214804', 'FEMALE', 'MDS', 154, 123, 180, 'SEENA', 'INFERENCE', 457)

('MAHIMA', '214807', 'FEMALE', 'MDS', 122, 170, 155, 'SEENA', 'PROGRAMMING', 447)

('NYRA', '214806', 'TRANSGENDER', 'MSTAT', 152, 91, 190, 'MEERA', 'CALCULUS', 433)

('PARESH', '214805', 'MALE', 'MCA', 87, 113, 145, 'RAM', 'PYTHON', 345)

('GAURAV', '214808', 'MALE', 'MCA', 31, 112, 133, 'RAM', 'C++', 276)