In [30]:
import sqlite3

def connect():    
    global connection 
    global crsr
    # connecting to the database
    connection = sqlite3.connect("Fashion.db")
    
    # cursor
    crsr = connection.cursor()

    # print statement will execute if there are no errors
    print("Connected to the Fashion database")
    
connect()

Connected to the Fashion database

In [14]:
def createtable():
  
    # SQL command to create a table in the database DDL

    com1= """CREATE TABLE VENDOR
    (V_ID CHAR(6) CONSTRAINT PK1 PRIMARY KEY,
    NAME VARCHAR(14) CONSTRAINT NN1 NOT NULL,
    NO_OF_PRODUCTS NUMBER(4) CONSTRAINT CHNN1 CHECK (NO_OF_PRODUCTS >=1) NOT NULL,
    ADHAAR_CARD_NO CHAR(12) CONSTRAINT NNU1 NOT NULL UNIQUE,
    DATE_OF_JOINING DATE,
    PINCODE VARCHAR(6) CONSTRAINT NN2 NOT NULL,
    CITY VARCHAR(15) CONSTRAINT NN3 NOT NULL);"""

    # execute the statement
    crsr.execute(com1)

    # close the connection
    connection.close()
    
createtable()

In [16]:
def Insert():
    # connecting to the database
    connection = sqlite3.connect("Fashion.db")
    
    #cursor
    crsr = connection.cursor()

    # SQL command to insert the data in the table
    com1 = """INSERT INTO VENDOR VALUES('191804','Dhiraj',2,'976352436676', '12-FEB-2003' ,'201010','Delhi');"""
    crsr.execute(com1)
    
    # another SQL command to insert the data in the table
    com2 = """INSERT INTO VENDOR VALUES('191805','Paresh',3,'976352436677', '22-MAR-2001' ,'201011','Kanpur')"""
    crsr.execute(com2)

    # another SQL command to insert the data in the table
    com3 = """INSERT INTO VENDOR VALUES('191806','Sunita',4,'976352436678', '5-NOV-2003' ,'201012','Alwar');"""
    crsr.execute(com3)
    
    # another SQL command to insert the data in the table
    com4= """INSERT INTO VENDOR VALUES('191807','Raghvi',2,'976352436679', '9-DEC-2002' ,'201022','Ghaziabad');"""
    crsr.execute(com4)
    
    # another SQL command to insert the data in the table
    com5="""INSERT INTO VENDOR VALUES('191808','Hrithik',1,'976352436670', '17-JAN-2004' ,'201010','Delhi');"""
    crsr.execute(com5)

    # To save the changes in the files.

    connection.commit()

    # close the connection
    connection.close()

Insert()

In [31]:
def Update_Data():
    
    # connecting to the database
    connection = sqlite3.connect("Fashion.db")
    
    #cursor
    crsr = connection.cursor()

    # Updating
    crsr.execute('''UPDATE VENDOR SET  PINCODE='201012' AND CITY='Alwar' where NAME="Hrithik";''')

    #Commit your changes in the database
    connection.commit()

Update_Data()

OperationalError: database is locked

In [5]:
def Delete_Data():
  # Connecting to sqlite
  conn = sqlite3.connect('Demo_DataBase.db')

  # Creating a cursor object using
  # the cursor() method
  cursor = conn.cursor()

  # Updating
  cursor.execute('''DELETE FROM emp1 WHERE fname="Rishabh";''')

  # Commit your changes in the database
  conn.commit()

  # Closing the connection
  conn.close()

Delete_Data()

In [23]:
def Display_Data():
    
   # connecting to the database
    connection = sqlite3.connect("Fashion.db")
    
    #cursor
    crsr = connection.cursor()

    # execute the command to fetch all the data from the table emp
    crsr.execute("SELECT * FROM VENDOR")
    
    # store all the fetched data in the ans variable
    ans = crsr.fetchall()

    for i in ans:
        print(i)

Display_Data()

('191804', 'Dhiraj', 2, '976352436676', '12-FEB-2003', '201010', 'Delhi')
('191805', 'Paresh', 3, '976352436677', '22-MAR-2001', '201011', 'Kanpur')
('191806', 'Sunita', 4, '976352436678', '5-NOV-2003', '201012', 'Alwar')
('191807', 'Raghvi', 2, '976352436679', '9-DEC-2002', '201022', 'Ghaziabad')
('191808', 'Hrithik', 1, '976352436670', '17-JAN-2004', '201010', 'Delhi')