Riya Goyal (2148054)                                                                         20/09/2021

# Enabling Function Overloading in Python through Dispatch and *args

In [7]:
#suppose we want to keep the same function (area) to calculate are of
# 3D and 2D figures, we can use function overloading in the 
# following way

!pip3 install multipledispatch
from multipledispatch import dispatch

@dispatch(float,float,int)
def area(float_1,float_2,int_3): #function to add three decimal numbers
    area= float_1*float_2*int_3
    print(area);
@dispatch(float,float)
def area(float_1,float_2): # function to subtract two integer number from another integer number
    area= float_1*float_2
    print(area);

    
area(9.5,3.4,2) #calls first function
area(9.5,3.4)#calls second function

Requirement already satisfied: multipledispatch in d:\anaconda\lib\site-packages (0.6.0)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from multipledispatch) (1.15.0)
64.6
32.3

In [13]:
# Function to take multiple arguments
def add(datatype, *args):
  
    # if datatype is int
    if datatype =='int':
        answer = 0
          
    # if datatype is str
    if datatype =='str':
        answer =''
        
    for x in args:
        
        answer = answer + x 
  
    print(answer)
  
#Integer
add('int', 64, 2)
  
# String
add('str', 'Heyyyyy ', 'Gabrus!')

66
Heyyyyy Gabrus!

# Exception Handling:

In [2]:
 #exception handling using try and except (Value Error)


def dest():
    
    print(" \n \n \033[1m__________Welcome to the Destination selection portal________________\033[0m")
    print("\n \n We have shortlisted the following options for your 4 day destination Wedding according to the budget we discussed: \n \n 1.Paradise Resort,Bali \n 2.Pearl Jumeirah, Malaysia \n 3.The Ritz-Carlton,Dubai \n 4.Exit \n \n Choose the desired option: (1/2/3/4) :")
    while True:
        try:
            n=int(input("\nEnter choice: "))
        except ValueError as d:
            print("Input only numbers (1/2/3/4): ", d)
            continue
        if(n==1):
            print("\n \nThank you for selecting Bali as your Destination Wedding place. \n \n World famous Hyatt Regency has its magnificent 5-star hotel in Dubai, which has hosted around 5000 weddings \n till now. Housing a vast and charismatic Crystal Ballroom, an elegant Outdoor Golf Park, and a specialized culinary \n team, Hyatt Regency offers a once in a lifetime wedding experience in Dubai. \n \n Location: SandArena, Bali \n \n  Seating capacity: Upto 1000 guests\n \n Cost:9145690000 Indonesian Rupiah")  
            dest.venue="Bali"
            dest.p= 9145690000
            break
        elif(n==2):
            print("\n \nThank you for selecting Malaysia as your Destination Wedding place. \n \n Favourably located on the beachfront, overlooking the astounding Pearl Jumeirah is a picturesque\n destination to have that utopian wedding. Offering an array of luxury amenities amidst its paradisiacal surroundings,\n this wedding destination is ideal to have your dream wedding in Dubai. Tendering to the exclusive needs of its guests,\n this resort offers access to a private patio, private rooftop pool, deluxe villas and so much more. \n \n Location: Pearl Jumeira, Malaysia. \n \n Seating capacity: Upto 900 guests \n \n Cost: 2568000 Malaysian Ringgit") 
            dest.venue="Malaysia"
            dest.p= 2568000
            break
        elif(n==3):
            print("\n \nThank you for selecting Dubai as your Destination Wedding place. \n \n Considered to be one of the affordable wedding venues in Dubai, The Ritz-Carlton is one of the best wedding venues in Dubai \n and has great value for money. What is even more impressive is that the beach facing awning, the blooming landscape,\n the lush lawns and the traditional decor give an elegant setting for any type of wedding. Their services are impeccable, \n as they make sure they take of all your requirements including your budget!\n \n Location: Dubai, 26525 United Arab Emirates \n \n Seating Capacity: 800-1000 guests\n Cost: 2265800 AED")
            dest.venue="Dubai"
            dest.p=2265800
            break
        elif(n==4):
            break    
        else:
            print("Choose right option!")
            continue
            
dest()

 __________Welcome to the Destination selection portal________________


 We have shortlisted the following options for your 4 day destination Wedding according to the budget we discussed:

 1.Paradise Resort,Bali
 2.Pearl Jumeirah, Malaysia
 3.The Ritz-Carlton,Dubai
 4.Exit

 Choose the desired option: (1/2/3/4) :

Enter choice: t
Input only numbers (1/2/3/4):  invalid literal for int() with base 10: 't'

Enter choice: 3


Thank you for selecting Dubai as your Destination Wedding place.

 Considered to be one of the affordable wedding venues in Dubai, The Ritz-Carlton is one of the best wedding venues in Dubai
 and has great value for money. What is even more impressive is that the beach facing awning, the blooming landscape,
 the lush lawns and the traditional decor give an elegant setting for any type of wedding. Their services are impeccable,
 as they make sure they take of all your requirements including your budget!

 Location: Dubai, 26525 United Arab Emirates

 Seating Capacity: 800-1000 guests
 Cost: 2265800 AED

In [16]:
#exception handling using try,except and else (Name Error)


try:
    print (age) #error as age is not defined
except NameError as n:
    print ("Oops! A NameError occurred!: ", n)
else:
    print ("You may proceed!")

Oops! A NameError occurred!:  name 'age' is not defined

In [19]:
#exception handling using try,except and finally (Zero Division Error)

try:
    mod = 20//0 # raises divide by zero exception.
    print(mod)
# handles zerodivision exception
except ZeroDivisionError as z:
    print("Can't divide by zero: ", z)
finally:
    # this block is always executed
    # regardless of exception generation.
    print('\n \nNevermind! You have reached the end!')

Can't divide by zero:  integer division or modulo by zero


Nevermind! You have reached the end!

In [25]:
#exception handling using try,except and finally (Type Error)

try:
    a=5
    #b='Saara'
    b=4
    c=6.7
    print(a+b+c)
except TypeError as t:
    print(" Check your datatypes!: ", t)
else:
    print("Here's your answer:", a+b+c)

15.7
Here's your answer: 15.7

In [26]:
try:
    a=5
    b='Saara'
    #b=4
    c=6.7
    print(a+b+c)
except TypeError as t:
    print(" Check your datatypes!: ", t)
else:
    print("Here's your answer:", a+b+c)

 Check your datatypes!:  unsupported operand type(s) for +: 'int' and 'str'